<div class="panel panel-default row">
    <h2 class="col-xs-12">All</h2>
    <img ng-repeat="img in $tr.getImages()" ng-src="{{img.src}}"
         class="img-responsive col-xs-6 col-sm-4 col-md-3 img-upl-img" ng-click="img.del = !img.del"
         ng-class="{del:img.del}"/>
    <span class="col-xs-12">&nbsp;</span>
</div>
<div class="panel panel-default row">
    <h2 class="col-xs-12">Vaste</h2>
    <img ng-repeat="img in $tr.getImages({del:false,temporary:false})" ng-src="{{img.src}}"
         class="img-responsive col-xs-6 col-sm-4 col-md-3" ng-click="img.del = !img.del" ng-class="{del:img.del}"/>
    <span class="col-xs-12">&nbsp;</span>
</div>
<div class="panel panel-default row">
    <h2 class="col-xs-12">Delete</h2>
    <img ng-repeat="img in $tr.getImages({del:true})" ng-src="{{img.src}}"
         class="img-responsive col-xs-6 col-sm-4 col-md-3" ng-click="img.del = !img.del" ng-class="{del:img.del}"/>
    <span class="col-xs-12">&nbsp;</span>
</div>
<div class="panel panel-default row">
    <h2 class="col-xs-12">Temporary</h2>
    <img ng-repeat="img in $tr.getImages({temporary:true})" ng-src="{{img.src}}"
         class="img-responsive col-xs-6 col-sm-4 col-md-3" ng-click="img.del = !img.del" ng-class="{del:img.del}"/>
    <span class="col-xs-12">&nbsp;</span>
</div>